<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/dtd/mybatis-3-mapper.dtd"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardReplyMapper">

	<select id="getTotalRow" resultType="Long">
		SELECT count(*)
		FROM board_reply
		WHERE no = #{no}

	</select>

	<select id="list" resultType="com.example.demo.board.vo.BoardReplyVO">
	     <bind name="offset" value="pageObject.startRow - 1" />

		    SELECT 
		        rno,
		        no,
		        content,
		        id,
		        write_date AS writeDate
		    FROM board_reply
		    WHERE no = #{no}
		    ORDER BY rno ASC
		    LIMIT #{pageObject.perPageNum}
		    OFFSET #{offset}
	</select>
	
	
</mapper>